html, body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    height: 70px;
    background-color: rgba(21, 16, 50, 0.94);
    text-align: center;
    margin: 0 0 0 0;
}

ul li {
    margin-top: 10px;
    list-style-type: none;
    display: inline-table;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

#calculette{
  height: 500px;
  width: 500px;
  position: absolute;
  border: solid black 1px;
  border-radius: 10% 10%;
  margin-left: 30%;
  background-color: grey;
  margin-top: 10%;
}

#ecran{
  height: 50px;
  width: 400px;
  border: solid black 1px;
  margin-top: 5%;
  margin-left: 10%;
  background-color: white;
}

input{
  margin-left: 25%;
  height: 30px;
}
